---
import "tailwindcss";
import "@/styles/global.css";
import { dataAboutLPKYukari } from "@/data/about";
---

<section>
  {
    dataAboutLPKYukari.map((home) => (
      <div class="bg-[#FFFFFF] h-[798px] w-full relative flex">
        <div class="absolute p-16 pr-5 mt-8 z-10 h-[542px] w-[1312px]">
          <div class="flex justify-between gap-[48px]">
            <div class="h-[149px] w-[800px]">
              <h1 class="font-rethink font-normal text-[48px] text-[#AB0103]">
                {home.subtitle}
              </h1>
              <h1 class="font-rethink font-medium text-[80px] text-[#171826]">
                {home.title}
              </h1>
            </div>
            <div class="h-[542px] w-[464px]">
              <p class="whitespace-pre-line font-rethink font-medium text-[20px] ">
                {home.desc}
              </p>
            </div>
          </div>
        </div>
      </div>
    ))
  }
</section>
