---
import "tailwindcss";
import "@/styles/global.css";
---

<section>
    <div class="bg-[#FFFFFF] h-[1190px] w-full">
        <div class="absolute z-10 p-16 flex flex-col items-center">
            <h1 class="font-rethink font-medium text-[96px] text-[#171826]">Program Belajar</h1>
            <img src="/assets/images/program-belajar.png" alt="Program Belajar" class="mt-[120px]">
        </div>
    </div>
</section>