---
import "tailwindcss";
import "@/styles/global.css";
import { ArrowUpRight } from "lucide-react";
---

<section>
  <div
    class="bg-[url('/assets/images/footer-image.png')] bg-no-repeat bg-center bg-cover h-[416px] w-full"
  >
    <div class="flex flex-row items-center justify-between">
      <div
        class="bg-[#00000066] w-[416px] h-[156px] blur-[4] mt-[145px] flex items-center justify-center"
      >
        <h1 class="font-barlow font-medium text-[48px] text-[#FFFFFF] ml-8">
          Karir Impianmu dimulai dari sini.
        </h1>
      </div>
      <a href="#">
        <div
          class="bg-[#00000066] border-[2px] p-5 w-[195px] h-[56px] blur-[4] mt-[145px] mr-10 flex items-center justify-between"
        >
        <h1 class="font-mono font-medium text-[15px] text-[#FFFFFF]">DAFTAR SEKARANG</h1>
        <ArrowUpRight size={20} color="#FFFFFF"/>
        </div>
      </a>
    </div>
  </div>
</section>
