---
import "tailwindcss";
import "@/styles/global.css";
import { dataContent } from "@/data/galery";
---

<section>
  <div
    class="relative h-[943px] w-full"
  >
    <div class="flex items-center justify-center">
      <div class="absolute flex flex-col items-center justify-center h-[149px] w-[900px] top-[400px]">
      {
        dataContent.map((galery) => (
           <h1 class="font-rethink font-medium text-[#AB0103] text-[48px]">
              ギャラリー
            </h1>
            <h1 class="font-rethink font-medium text-[#171826] text-[96px]">
              Gallery
            </h1>
            <div class="h-[362px] w-[480px]">
              <p class="font-rethink font-medium text-[#171826] text-[20px]">
                {galery.desc}
              </p>
              <p class="font-rethink font-medium text-[#171826] text-[20px] mt-[30px]">
                {galery.japaneseDesc}
              </p>
            </div>
        ))
      }
    </div>
    </div>
  </div>
</section>
