---
import "tailwindcss";
import "@/styles/global.css";
---

<section>
    <div class="bg-[url('/assets/images/galery.png')] bg-no-repeat bg-center bg-cover h-[384px] w-full">
    </div>

    <div class="bg-[url('/assets/images/footer-image.png')] bg-no-repeat bg-center bg-cover h-[416px] w-full"></div>
</section>