---
import "tailwindcss";
import "@/styles/global.css";
import { Separator } from "@/components/ui/separator";
import { dataCardComponent } from "@/data/home";
---

<section class="bg-[#AB0103] py-10 lg:py-25">
  <div class="max-w-5xl mx-auto grid grid-cols-2 grid-rows-2 gap-[60px] relative">
    <Separator
      orientation="vertical"
      className="absolute inset-y-0 left-1/2 bg-white w-[2px] hidden md:block"
    />
    {
      dataCardComponent.map((home, index) => {
        const Icon = home.iconCard;
        return (
          <div class="flex flex-col items-center justify-center text-center">
            <Icon className="w-20 h-20 mb-4 text-white" />
            <p class="text-2xl text-[#FFFFFF]">{home.iconText}</p>
            {
              index < 2 && (<Separator orientation="horizontal" className="bg-white mt-[80px] w-[551px]" /> )
            }

          </div>
        );
      })
    }
  </div>
</section>
