---
import "tailwindcss";
import "@/styles/global.css";
import { Handshake, ThumbsUp, Sheet, BicepsFlexed } from "lucide-react";
import { Separator } from "@/components/ui/separator";
---

<section class="bg-[#AB0103] text-white py-16 lg:py-30">
  <div class="max-w-5xl mx-auto">
    <Separator orientation="vertical" className="bg-white mx-4"/>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-15 md:gap-8 text-center">
      <div class="flex flex-col items-center justify-center relative">
        <div class="mb-4"><Handshake size={80} color="#FFFFFF" /></div>
        <p class="text-2xl">Dukungan Karir</p>
        <Separator orientation="horizontal" className="bg-white my-4 mb-15 mt-15" />
      </div>
      <div class="flex flex-col items-center justify-center relative">
        <div class="mb-4"><ThumbsUp size={80} color="#FFFFFF" /></div>
        <p class="text-2xl mb-4">Belajar Flexible</p>
        <Separator orientation="horizontal" className="bg-white mb-15 mt-11" /> 
      </div>
      <div class="flex flex-col items-center justify-center relative">
        <div class="mb-4"><Sheet size={80} color="#FFFFFF" /></div> 
        <p class="text-2xl">Pengajar Profesional</p>
      </div> 
      <div class="flex flex-col items-center justify-center relative">
        <div class="mb-4">
          <BicepsFlexed size={80} color="#FFFFFF" />
        </div>
        <p class="text-2xl">Dukungan Karir</p>
      </div>
    </div>
  </div>
</section>
