---
import "tailwindcss";
import "@/styles/global.css";
---

<section>
  <div
    class="bg-[url('/assets/images/galery-method.png')] bg-black backdrop-brightness-50 bg-no-repeat bg-center bg-cover h-screen w-full"
  >
    <div class="grid-cols-1 items items-center justify-center p-25 py-32 mr-60">
      <h2 class="text-2xl text-[#FFFFFF] font-barlow">学習方法</h2>
      <h1 class="text-6xl text-[#FFFFFF] font-rethink mt-10">
        Metode Pembelajaran
      </h1>
      <p class="text-1xl text-[#FFFFFF] font-rethink mt-10 mr-40">
        Kami menggunakan metode pembelajaran original Japanese Hybrid Online
        Learning (J-HOL) yang dikembangkan oleh Profesor Satoshi Miyazaki dari
        Waseda University. Beberapa keunggulan metode kami yaitu :
      </p>
      <p class="text-1xl text-[#FFFFFF] font-rethink ml-5 mr-60">
        1. Penyajian materi menggunakan animasi yang disesuaikan dengan tampilan
        di layar handphone.
      </p>
      <p class="text-1xl text-[#FFFFFF] font-rethink ml-5 mr-60">
        2. Materi dipersiapkan oleh Tenaga Pengajar Bahasa Jepang Profesional di
        Jepang dan sudah teruji.
      </p>
      <p class="text-1xl text-[#FFFFFF] font-rethink mt-10">Time schedule:</p>
      <p class="text-1xl text-[#FFFFFF] font-rethink">1+4+1 (Onsite + Online + Onsite)</p>
    </div>
  </div>
</section>
