---
import "tailwindcss";
import "@/styles/global.css";
import Background from "@/components/Background.astro";
import { dataHeaderContent } from "@/data/home";
---

<section class="relative flex">
  <Background />
  {
    dataHeaderContent.map((home)=>{
      const Icon = home.iconButton;
      return (
        <div
    class="absolute top-[55vh] right-0 z-10 bg-[#00000066] text-white p-5 w-[408px] h-[264px]"
  >
    <div class="pr-15">
      <p class="text-wrap text-[16px] text-[#FFFFFF] leading-relaxed font-rethink">
        {home.desc}
      </p>
      <div class="h-[48px] w-[288px] mt-4 px-4 py-2 bg-transparant border-2 flex justify-between">  
        <a
        href="/"
        class="transition font-rethink text-[#FFFFFF] font-semibold "
      >
        {home.buttonText} 
      </a>
      <Icon class="h-[16px] w-[16px]"/>
      </div>
    </div>
  </div>

  <div class="absolute z-10 mt-[65vh] max-w-[40]">
    <div class="relative flex h-screen items-center justify-between px-12 z-10">
      <!-- Content Desc -->
      <div class="">
        <h1 class="text-[115px] tracking-wider font-semibold font-rethink text-[#FFFFFF] animate-fadeIn">
          {home.title}
        </h1>
        <h3 class="text-2xl text-gray-200 tracking-[.15] font-barlow font-semibold leading-relaxed animate-fadeIn">
            {home.subTitle}
        </h3>
      </div>
    </div>
    </div>
        )
      } 
    )
  }
</section>