---
import "tailwindcss";
import "@/styles/global.css";
import { dataImageVisiMision } from "@/data/home";
import { dataVisi } from "@/data/home";
import { dataMision } from "@/data/home";
---

<section
  class="bg-[#FFFFFF] h-[758px] w-full flex items-center justify-center p-12"
>
  <div class="w-[1312px] h-[502px] grid grid-cols-2 gap-[64px]">
    <div class="grid grid-cols-2 grid-rows-2 gap-4 h-[502px] w-[624px]">
      {
        dataImageVisiMision.map((home, index) => (
          <div class={`relative ${index === 0 ? "col-span-2" : ""}`}>
            <img
              src={home.hero}
              alt={home.id}
              class="w-full h-full object-cover"
            />
          </div>
        ))
      }
    </div>
    <div class="bg-[#f4e8d8] p-8 shadow h-[502px]">
      <h2 class="text-[48px] text-[#171826] font-rethink font-medium mb-2">Visi</h2>
      {
        dataVisi.map((home) => (
          <p class="mb-4 text-[20px] font-rethink font-normal text-[#171826] leading-relaxed">
            {home.descVisi}
          </p>
        ))
      }

      <h2 class="text-[48px] text-[#171826] font-rethink font-medium mb-2">Misi</h2>
      <ul class="list-disc pl-5 space-y-2 text-[20px] font-rethink font-normal text-[#171826] leading-relaxed">
        {
          dataMision.map((home)=>(
            <li>{home.descMision}</li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
